/*!
 *  DM Accordion 0.2.0
 *  @author Дмитрий Альшин <dm.alshin@gmail.com>
 */

/* ==========================================================================
	GENERAL CLASSES */
/* ========================================================================== */

	.dm-accordion-control {
		cursor: pointer;
	}

	.dm-accordion-content {
		display: none;
		overflow: hidden;
	}