/**
 * DM Accordion v2.0.0
 * Accordion core styles
 */

.dm-accordion-heading {
  cursor: pointer;
}

.dm-accordion-content {
  overflow: hidden;
}

.dm-accordion-content *:first-child {
  margin-top: 0;
}

.dm-accordion-content *:last-child {
  margin-bottom: 0;
}

.dm-accordion-separator {
  height: 1px;
}

