/* ==========================================================================
	GENERAL CLASSES */
/* ========================================================================== */

	.dm-accordion-control {
		cursor: pointer;
	}

	.dm-accordion-content {
		display: none;
		overflow: hidden;
	}