/*!
 *  DM Accordion 0.2.0
 *  @author Дмитрий Альшин <dm.alshin@gmail.com>
 */

/* ==========================================================================
	DEFAULT THEME */
/* ========================================================================== */

	.dm-accordion-control {
		border-bottom: 1px solid #aaa;
		margin-bottom: 10px;
		margin-top: 20px;
		padding-bottom: 2px;
	}